body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.whole-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wcaps-logo-large {
  width: 20%;
}

#discussion-board-and-highlights {
  display: flex;
  flex-direction: row;
  background-color: #F1BC7C;
}

#discussion-board {
  width: 60%;
  padding: 3rem;
}

#compose-area {
	display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #fff;
}

#compose-area svg {
  width: 5%;
}

#compose-form {
  width: 95%;
  padding: 10px;

}

#compose-text {
	width: 100%;
  border: 0px;
}

#posts-area {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#posts-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#filter-controls-form {
  display: flex;
  flex-flow: row wrap;
}

#posts-area {
}

.post {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 20px;
}

.post-header, .post-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.post-options {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.post-options button{
  background-color: #fff;
  border: none;
  padding: 0px;
  margin-right: 20px;
}

.post-options svg{
  color: #6F4F47;
}

.post-options span{
  margin-left: 5px;
  color: #6F4F47;
}

.photo-and-title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.post-title {
  margin-left: 10px;
  color: #6F4F47;
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
}

.post-date {
  text-align: right;
  font-size: 12px;
  color: grey;
}

.post-content {
  color: #6F4F47;
  margin-block-end: 0.5em;
  margin-left: 0px;
}

.comment-button, .report-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#highlights-area {
  width: 40%
}

#highlights-list {

}

.card {
	border: 2px solid blue;
}

h2{
  color: #fff;
}
