body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.whole-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wcaps-logo-large {
  width: 20%;
}

#posts-area {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#posts-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#filter-controls-form {
  display: flex;
  flex-flow: row wrap;
}

#posts-area {
}

.post {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
}

.post-header, .post-content, .post-options {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.comment-button, .report-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

