body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.whole-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wcaps-logo-large {
  width: 30%;
  min-width: 300px;
}

#navbar-list-icon {
  margin-right: 4%;
  width: 2%;
  min-width: 20px;
}

#discussion-board-and-highlights {
  display: flex;
  flex-direction: row;
  background-color: #F1BC7C;
}

#discussion-board {
  width: 60%;
  padding: 3rem;
}

#compose-area {
	display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #fff;
}

#compose-area svg {
  width: 5%;
}

#compose-form {
  width: 90%;
  /* padding: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#compose-title {
  width: 20%;
  border: 0px;
}

#compose-text {
	width: 60%;
  border: 0px;
}

#compose-submit-button {
  width: 10%;
}

#posts-area {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#posts-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#filter-controls-form {
  display: flex;
  flex-flow: row wrap;
}

.post {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 20px;
}

.post-header, .post-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.post-options {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#compose-form button, .post-options button, .comment button {
  background-color: #fff;
  border: none;
  padding: 0px;
  margin-right: 20px;
}

.post-options svg, .comment-button {
  color: #6F4F47;
}

.post-options span, .comment button {
  margin-left: 5px;
  color: #6F4F47;
}

.photo-and-title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.post-title {
  margin-left: 10px;
  color: #6F4F47;
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
}

.post-date {
  text-align: right;
  font-size: 12px;
  color: grey;
}

.post-content {
  color: #6F4F47;
  margin-block-end: 0.5em;
  margin-left: 0px;
}

.comment-button, .report-button, .highlight-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 5px;
}

.comment svg, .comment span, .comment button {
  padding: 2px;
}

.comment-content {
  color: #6F4F47;
  font-size: .8em;
  vertical-align: middle;
}

.comment-editor {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-editor input {
  border: 0px;
  margin-left: 5px;
}

.comments-dropdown {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#comments-dropdown-text {
  color: #6F4F47;
  font-size: .8em;
}

#highlights-area {
  width: 40%;
  padding: 10px;
}

.card {
	border: 2px solid blue;
}

h2{
  color: #fff;
}
